<div class="container">

	<div class="row">

		<div class="col-md-12">
			<img src="/assets/img/kisspng-hamburger-hot-dog-cheeseburger-pizza-french-fries-beef-burger-3d-vector-5a879017890641.4608036115188336875613.jpg" alt="burger" class="img-responsive center-block">
		</div>

	</div>

	<div class="row">

		<div class="col-md-12">
			<h1 class="text-center text-danger">Eat-Da-Burger</h1>
		</div>
	</div>

	<div class="row">

		<div class="col-md-5">
			<h3>Uneaten Burgers!</h3>
			<ul>
				{{#each burgers}}
					{{#unless this.devoured}}
						<li>
							<h5>{{this.id}}. {{this.burger_name}}
								<form action='burgers/updateOne/{{this.id}}?_method=PUT' method='POST'>
									<input type='hidden' name='devoured' value='true'>
									<button type='submit' class="btn btn-default">EAT!</button>
								</form>
							</h5>
						</li>
					{{/unless}}
				{{/each}}
			</ul>
		</div>

		<div class="col-md-2"></div>

		<div class="col-md-5">
			<h3>Eaten Burgers</h3>
			<ul>
				{{#each burgers}}
					{{#if this.devoured}}
						<li>
							<h5 class="text-muted">{{this.id}}. {{this.burger_name}}</h5>
						</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>

	</div>

	<br><br>

	<div class="row">

		<div class="col-md-12 text-center">
			<form class="create-update-form" action="burgers/insertOne" method="POST">
				<div class="form-group">
					<textarea type="text" name="name"></textarea><br>
					<button class="btn btn-default" type="submit">Submit</button>
					<h5 class="text-center">Enter the burger you want to eat and Submit!</h5>
				</div>
			</form>
		</div>
	</div>
</div>